---
layout: default
---
{% for category in page.categories %}
  {% assign categories = site.blog_categories | where: "slug", category %}
  {% capture category_links %}{{ category_links }}<a href ="{{ categories[0].url }}">{{ categories[0].title }}</a> {% endcapture %}
{% endfor %}
<h5 class="mt-4">
{{category_links}}
</h5>
<h1>{{ page.promo_title }}</h1>
<p class="font-weight-light">{{ page.date | date_to_string }}</p>
<br/>

<div class="post">
  {{ content }}
</div>

{% if page.comments %}
  {% include comments.html disqus_id=page.path url=page.url%}
{% endif %}